@model sedixscope.web.Models.ViewModels.BlogDetailViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            @if (Model != null)
            {
                <h1 class="mb-3">@Model.Heading</h1>

                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.DatePublished.ToShortDateString()</span>
                </div>

                <div class="mb-3">
                    <a id="btnLike" style="cursor: pointer;">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </a>

                    <span id="totalLikes">@Model.TotalLikes</span> likes
                </div>

                <div class="mb-3 d-flex">
                    @foreach(var tag in Model.Tags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>

                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3" />

                <div class="mb-3 blog-details-content">
                    @Html.Raw(Model.Content)
                </div>
            }
            else
            {
                <p>Blog not found!</p> 
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var btnLikeElement = document.getElementById('btnLike');
        var totalLikesElement = document.getElementById('totalLikes');

        async function getTotalLikes(){
            fetch('/api/BlogPostLike/@Model.Id/totalLikes', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': '*/*'
                }
            }).then(response => response.json())
                .then(result => totalLikesElement.innerHTML = result);
        }

        async function addLikeForBlog(){
            fetch('/api/BlogPostLike/Add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': '*/*'
                },
                body: JSON.stringify({
                    BlogPostId: '@Model.Id',
                })
            }).then(()=>{
                btnLikeElement.innerHTML = '<i class="bi bi-hand-thumbs-up-fill"></i>';
                getTotalLikes();
                btnLikeElement.removeEventListener('click', addLikeForBlog);
            })
        }

        btnLikeElement.addEventListener('click', addLikeForBlog);
    </script>
}